{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <title>Bangladesh Parishad Uppsala</title>
    
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
        <!-- Add these lines in the <head> section of your HTML -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    </head>
    <body class="d-flex flex-column h-100 main-bg">
        <header>
            <!-- Navigation --> 
            <nav class="navbar navbar-expand-lg navbar-light text-white">
                <div class="container">
                    <h2><a class="navbar-brand text-danger" href="{% url 'home' %}"><b>Bangladesh Parishad</b></a></h2>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nvbCollapse" aria-controls="nvbCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="nvbCollapse">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item active pl-1">
                                <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home fa-fw mr-1"></i>Home</a>
                            </li>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Categories
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                {% for category in category_list %}
                                <a class="dropdown-item" href="/category/{{ category.name }}">{{ category.name|title }}</a>
                                {% endfor %}
                                </li>
                            </ul>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item pl-1">
                                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                            </li>
                            <li class="nav-item pl-1">
                                <a class="nav-link btn btn-primary" href="{% url 'add' %}">Add Post</a>
                            </li>
                            {% else %}
                            <li class="nav-item pl-1">
                                <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                            </li>
                            <li class="nav-item pl-1">
                                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                        {{ message | safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <header class="py-5 bg-image-full" style="background-image: url('https://scontent.fbma6-1.fna.fbcdn.net/v/t39.30808-6/347247126_10223723184768113_3766137439015906649_n.jpg?stp=cp6_dst-jpg&_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=zfmA-jRZA-QAX_gEWxq&_nc_ht=scontent.fbma6-1.fna&oh=00_AfD-YDJmPVKAsj2RivW9-3P5Onyc-oZ1zrQNTDg_5mLx0Q&oe=64A3E58B'); background-repeat: no-repeat; background-size: cover;">
            <div class="container text-center my-5">
              <img class="img-fluid rounded-circle mb-6" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRnPY7ocAxfYbSJZUBAMOZZeYDsZTpGPFMyw&usqp=CAU" alt="..." />
              <h1 class="text-dark fs-3 fw-bolder">বাংলাদেশ পরিষদ</h1>
              <p class="text-white-50 mb-0"></p>
            </div>
        </header>         
        
        <main class="flex-shrink-0 main-bg">
            {% block content %}
            <!-- Content Goes here -->
            {% endblock content %}
        </main>

    <div class="container-fluid bg-white bottom">
        <footer class="py-2 px-5">
            <div class="row">
              <div class="col-6 col-md-2">
                <h5>Section</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                </ul>
              </div>
        
              <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                </ul>
              </div>
        
              <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                </ul>
              </div>
        
              <div class="col-md-5 offset-md-1 mb-3">
                <form>
                  <h5>Subscribe to our newsletter</h5>
                  <p>Monthly digest of what's new and exciting from us.</p>
                  <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                    <label for="newsletter1" class="visually-hidden">Email address</label>
                    <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                    <button class="btn btn-primary" type="button">Subscribe</button>
                  </div>
                </form>
              </div>
            </div>
        
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
              <p>&copy; 2023 Company, Inc. All rights reserved.</p>
              <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
              </ul>
            </div>
        </footer>
    </div>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
